.git
.github
.env
.env.*
node_modules
vendor
public/build
public/hot
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache
